@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Kanit:wght@100&display=swap');


body{
    background: url('/Assets/black_background.png');
    background-size: cover;
}

.question-mark{
    z-index: -1;
}

.info{
    font-family: 'Comic Neue', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 37%;
    top: 10%;
}


.grid-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0rem;
    gap: 3px;
}
.grid-1 .lr{
    text-align: center;
    color: white;
    position: absolute;
    z-index: 10;
    margin-top: 80px;
    padding: 0 40px;
    
}
.lr2 {
    font-size: 0.9rem;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 10;
    margin-top: 72px;
    padding: 0 40px;
}
.lr3 {
    transform: rotateZ(-90deg);
    text-align: center;
    color: white;
    position: absolute;
    z-index: 10;
    margin-top: 72px;
    padding: 0 40px;
}
.lr4 {
    transform: rotateZ(-90deg);
    text-align: center;
    color: white;
    position: absolute;
    z-index: 10;
    margin-top: 72px;
    margin-right: 0px;
    padding: 0 20px 0 50px;
}

.lr5{
    font-size: 0.9rem;
    transform: rotateZ(-90deg);
    text-align: center;
    color: white;
    position: absolute;
    z-index: 10;
    margin-top: 72px;
    margin-right: 0px;
    padding: 0 20px 0 30px ;
}
.lr6 {
    font-size: 0.9rem;
    transform: rotateZ(-90deg);
    text-align: center;
    color: white;
    position: absolute;
    z-index: 10;
    margin-top: 72px;
    margin-right: 0px;
    padding: 0 40px 0 30px ;
}
.grid-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: rotateZ(90deg);
    z-index: 1;
    position: absolute;
    top: 0rem;
    gap: 4px;
}
.grid-3{
    transform: rotateZ(90deg);
    position: absolute;
    top: 17.35rem;
    gap: 4px;
}

.box-1 img{
    width: 15.3rem;
    opacity: 0.9;
}

.box-2 img{
    width: 15rem;
    opacity: 0.9;
}

.box-3 img{
    width: 15rem;
    opacity: 0.9;
}

.box-4 img{
    width: 15rem;
    opacity: 0.9;
}

.box-5 img{
    width: 15rem;
}

.box-6 img{
    width: 15rem;
}

